body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

header a {
    color: #fff;
    text-decoration: none;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  #heading {
	font-size: 2rem;
	padding: 10px;
  }
  #navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  #navbar li {
	display: inline-block;
	margin-right: 10px;
  }
  

main {
    padding: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.card-layout {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.card-layout__item {
  /* There will be 3 cards per row */
  flex-basis: 33.33333%;
/* flex-basis: 50%; */
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}